<form method="post" action="{{ path('wond_art_delete', {'id': wond_art.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wond_art.id) }}">
    <button class="btn">Delete</button>
</form>
