{% extends 'base.html.twig' %}

{% block title %}Art Wonder{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/navLetter.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="menu-home">
            {% include 'navbar_home.html.twig' %}
        </div>
    {% else %}
        <div id="menu-home">
            {% include 'navbar_home_anon.html.twig' %}
        </div>
    {% endif %}

    <br>

    {% for wondart in wondarts %}
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('uploads/wondarts/' ~ wondart.media) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ wondart.titulo }}</h5>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/infinite-scroll.js') }}"></script>
{% endblock %}