{% extends 'base.html.twig' %}

{% block title %}Edit MarcaAutor{% endblock %}

{% block body %}
    <h1>Edit MarcaAutor</h1>

    {{ include('marca_autor/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
