

    <h1>Datos de contacto</h1>

    <div class="informacion">
        <h2>Nombre</h2>
        <p>{{ marca_autor.nombre }}</p>

        <h2>Correo</h2>
        <p>{{ marca_autor.email }}</p>

        {% if marca_autor.telefono %}
            <h2>Telefono</h2>
            <p>{{ marca_autor.telefono }}</p>
        {% endif %}

        <button class="btn" id="cerrar">Cerrar</button>
    </div>


