.btn{
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}

.container{
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    padding: 2%;
    text-align: center;
}

.container h1, label{
    font-family: McLetter;
    font-size: 20px;
}

.container h1{
    font-size: 28px;
}

form>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.acciones{
    display: flex;
    justify-content: center;
}

.password{
    justify-content: center;
}

#change_pass{
    display: flex;
    flex-direction: column;
}

#change_pass>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}