.btn{
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}

.ajustesContenedor{
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    padding: 2%;
    text-align: center;
    z-index: 100;
}

.ajustesContenedor h1, label{
    font-family: McLetter;
    font-size: 20px;
}

.ajustesContenedor h1{
    font-size: 28px;
}

form>div{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.acciones{
    display: flex;
    justify-content: center;
}

.borrar *{
    width: 100%;
    color: red;
    align-self: center;
    margin-top: 0;
}

.borrar:hover *{
    color: red;
}

#change_pass{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#change_pass>div{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#passwordbtn{
    justify-content: center;
}

.flash-notice{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}