#particles-js{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1000;
}

body{
    padding: 0!important;
}

#cortina{
    position: fixed;
    display: none;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: #0000003b;
}

.flash-notice{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

h1{
    padding:0.5em;
}