/*.contenedor{*/
/*    width: auto;*/
/*    border: 1px solid black;*/
/*    border-radius: 10px;*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 25%;*/
/*    transform: translateX(-50%);*/
/*    padding: 2%;*/
/*    padding-bottom: 0;*/
/*}*/

.contact h1, .contact h2{
    font-family: McLetter;
}

.contact h1{
    font-size: 25px;
    text-align: center;
}

.contact h2{
    font-size: 20px;
}

.informacion{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.btn{
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
}