.nav-link{
    font-family: McLetter;
    color: black;
}

.dropdown-item{
    font-family: McLetter;
    font-size: calc(0.5em + 1vw);
}

.nav-link:hover{
    color: blue;
}

/*#menu-home  ul li:nth-child(1) a{*/
/*    font-weight: bold;*/
/*}*/
/*#menu-login  ul li:nth-child(2) a{*/
/*    font-weight: bold;*/
/*}*/
/*#menu-register ul li:nth-child(3) a{*/
/*    font-weight: bold;*/
/*}*/

#menu-home #inicio{
    font-weight: bold;
}
#menu-login  #login{
    font-weight: bold;
}
#menu-register #register{
    font-weight: bold;
}

#menu-perfil #navbarDropdown{
    font-weight: bold;
}

#menu-perfil #Perfil{
    font-weight: bold;
}

.dropdown-menu{
    right: -20%;
    left: unset;
}

@font-face {
    font-family: McLetter;
    src: url(McLetters.ttf);
}

.navbar{
    z-index: 100 !important;
    font-size: calc(0.5em + 1vw);
}

.catlogo{
    width: 80px;
}