.container{
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    padding: 2%;
    min-width: 350px;
}

.container h1, label{
    font-family: McLetter;
    font-size: 20px;
    text-align: center;
}

form>div, #registration_form_password>div, .agentForm>div{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.container .btn{
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}

.botones{
    display: flex;
    justify-content: center;
}

form, #registration_form_password, .agentForm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}