.media>a{
    text-align: left;
}

.media img{
    width: 50%;
    box-shadow: 3px 2px 5px 2px black;
}

#disqus_thread{
    width: 90%;
    margin: auto;
}

.lateral{
    width: 90%;
    margin: auto;
    display: flex;

}

.infomacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
}

.media{
    display: block;
}

.autor{
    font-family: McLetter;
}

.historia{
    max-width: 40%;
}

.btn{
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
}