.form-block{
    display: none;
    overflow: auto;
    position: fixed;
    right: -300px;
    z-index: 1000;
    background-color: #FFFFFF;
    border-radius: 3px;
    top: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    box-shadow: 1px -1px 4px 3px grey;
    padding: 1%;
}

.contenedor{
    display: flex;
    flex-wrap: nowrap;
    min-width: 500px;
    width: 100%;
}

.index-block{
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;
}

td{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: McLetter;
    text-align: center;
}

tbody{
    display: flex;
    flex-direction: column;
}

.form_button{
    display: flex;
    flex-direction: row;
}

#controles{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.btn{
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}

.wondname{
    font-family: McLetter;
}

.form-block textarea{
    resize: none;
}

.form-block button{
    width: 80%;
}

.form-block h1, label{
    font-family: McLetter;
    font-size: 20px;
}

form input {
    width: 80%;
    border: 0;
    border-bottom: 1px solid grey;
}

label{
    margin-bottom: 0;
    margin-top: 5%;
}

.form-block .lat{
    flex-flow: column wrap;
    align-items: center;
}

.form-block div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.form-block .main-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.form-block h1{
    margin-bottom: 3%;
    font-size: 25px;
}

#wond_art_media{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.acciones{
    justify-content: center!important;
    flex-direction: row!important;
}

label[for="wond_art_media"] {
    font-size: 14px;
    color: black;
    background-color: white;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.imag{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#preview{
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

.borrar{
    color: red;
}

.borrar:hover{
    color: red;
}