<nav class="navbar navbar-expand shadow-sm">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-auto" id="menu">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }} ">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Registro</a>
            </li>
        </ul>
    </div>
</nav>